* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: black;
    background-color: rgb(231, 240, 255);
}

.row {
    width: 80%;
    margin-left: 10%;
}

header {
    background-image: linear-gradient(rgba(0, 23, 65, 0.6), rgba(0, 89, 255, 0.6)), url(img/home.jpg);
    height: fit-content;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
    background-attachment: fixed;
}

.main-nav {
    padding-top: 15px;
}

.main-nav p {
    color: white;
    display: inline-block;
    font-size: 150%;
    vertical-align: middle;
    user-select: none;
}

.main-nav-links {
    list-style: none;
    float: right;
}

.main-nav-links li {
    display: inline-block;
    padding: 10px 30px;
}

.main-nav-links li a:link,
.main-nav-links li a:visited {
    font-size: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    vertical-align: middle;
    border-bottom: solid 2px transparent;
}

.main-nav-links li a:hover,
.main-nav-links li a:active {
    border-bottom: solid 2px rgb(71, 157, 255);
    color: rgb(71, 157, 255);
    transition: border-bottom 0.2s, color 0.2s;
}

h1 {
    color: white;
    width: fit-content;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 400%;
    user-select: none;
    font-weight: 300;
}

h1 span {
    display: block;
    font-size: 50%;
}

.btn-box {
    width: fit-content;
    margin: 25px auto;
    margin-bottom: 120px;
}

.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    padding: 5px 40px;
    border: solid 2px white;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    margin: 15px;
    color: white;
}

.btn:hover,
.btn:active {
    color: blue;
    background-color: white;
    transform: scale(1.1);
    transition: color 0.2s, background-color 0.2s, transform 0.2s;
}

.popup-login,
.popup-signup {
    background: rgba(4, 1, 31, 0.795);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.login-box,
.signup-box {
    height: fit-content;
    width: 60%;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.507);
    position: relative;
}

.login-box h2,
.signup-box h2 {
    font-size: 200%;
    padding-bottom: 15px;
}

.login-box input,
.signup-box input {
    display: block;
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
    border: none;
    font-size: 90%;
    font-family: inherit;
    border-bottom: solid 2px blue;
    padding: 5px;
    outline: none;
}

.login-box a,
.signup-box a {
    text-decoration: none;
    display: block;
    width: fit-content;
    margin: 30px auto;
    padding: 10px 40px;
    color: white;
    background: blue;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}

.login-box p,
.signup-box p {
    width: fit-content;
    color: blue;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    user-select: none;
    cursor: pointer;
}

.login-box p:hover,
.signup-box p:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
}

.login-box a:hover,
.signup-box a:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.section-about-us {
    width: 100%;
}

h2 {
    text-align: center;
    color: rgb(1, 49, 182);
    font-size: 250%;
    font-weight: 300;
    margin-top: 25px;
    user-select: none;
}

h2::after {
    display: block;
    content: "";
    background-color: rgb(1, 49, 182);
    height: 2px;
    width: 8%;
    margin: 5px auto;
}

.primary-text {
    color: rgb(95, 95, 95);
    margin-top: 50px;
    text-align: center;
    line-height: 145%;
    word-spacing: 4px;
    font-size: 90%;
}

.secondary-text {
    color: rgb(95, 95, 95);
    margin-top: 20px;
    text-align: center;
    line-height: 145%;
    word-spacing: 4px;
    font-size: 90%;
    margin-bottom: 60px;
}

.section-review {
    width: 100%;
    background-image: linear-gradient(rgba(0, 52, 148, 0.6), rgba(0, 52, 148, 0.6)), url(img/background2.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 14%, 100% 86%, 0 100%);
    background-attachment: fixed;
    padding-bottom: 80px;
}

.section-review h2 {
    color: white;
    padding-top: 100px;
}

.section-review h2::after {
    background-color: white;
}

.form-box {
    margin-top: 50px;
}

label {
    padding: 10px;
    font-size: 100%;
    color: white;
    float: right;
    margin-right: 25px;
}

.form-box input,
textarea {
    background: inherit;
    width: 75%;
    border: none;
    outline: none;
    border-bottom: solid 1px white;
    padding: 5px;
    color: white;
    font-family: inherit;
    font-size: 100%;
}

.form-box input::placeholder,
textarea::placeholder {
    color: white;
    opacity: 0.5;
}

input[type="submit"] {
    width: fit-content;
    padding: 8px 40px;
    font-size: 100%;
    font-family: inherit;
    color: white;
    background: inherit;
    border: solid 2px white;
    border-radius: 10px;
    margin-left: 25%;
    outline: none;
    margin-bottom: 25px;
}

input[type="submit"]:hover {
    background-color: white;
    color: blue;
    transition: color 0.2s, background-color 0.2s;
}

footer {
    width: 100%;
    height: 15vh;
}

footer::before {
    display: block;
    width: 10%;
    content: "";
    height: 2px;
    background-color: rgb(145, 145, 145);
    margin: 5px auto;
}

footer p {
    font-size: 70%;
    margin-top: 10px;
    text-align: center;
    color: rgb(145, 145, 145);
}

.footer-text {
    width: 60%;
    margin-left: 20%;
}

.social-links {
    list-style: none;
    float: right;
}

.social-links li {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
}

.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    color: rgb(145, 145, 145);
    font-size: 65%;
}

.social-links li a:hover,
.social-links li a:active {
    color: rgb(78, 78, 78);
    transition: color 0.2s;
}


/*----------------------------main.html---------------------------*/

.section-main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(2, 0, 112, 0.8), rgba(2, 0, 133, 0.664)), url(img/home.jpg);
    background-size: cover;
    background-position: top;
}

.section-main h2 {
    color: white;
}

.section-main h2::after {
    background-color: white;
}

.handyman-nav {
    height: fit-content;
}

.handyman-nav-list {
    list-style: none;
    float: right;
}

.handyman-nav-list li {
    display: inline-block;
    padding: 10px 30px;
}

.handyman-nav-list li a:link,
.handyman-nav-list a:visited {
    font-size: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    vertical-align: middle;
    border-bottom: solid 2px transparent;
}

.handyman-nav-list li a:hover,
.handyman-nav-list li a:active {
    border-bottom: solid 2px rgb(71, 157, 255);
    color: rgb(71, 157, 255);
    transition: border-bottom 0.2s, color 0.2s;
}